<!DOCTYPE html>
<html>
<head>
    <title>StoryTime</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="css/theme.css"></link>
</head>
<body class="black">
    <div class="container-fluid spare">
        <div class="col-sm-12 baselined" align="center">
            <h1>StoryTime</h1>
        </div>
        <div class="col-sm-3 sidebar spare">
            <button id="create-button" class="btn btn-green">Create New Story</button>
            <div id="descriptors">
                <ul class="list-group">
                    <li class="list-group-item storyDescriptor">Story</li>
                    <li class="list-group-item storyDescriptor">Story</li>
                    <li class="list-group-item storyDescriptor">Story</li>
                    <li class="list-group-item storyDescriptor">Story</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 spare">
            <div id="story"></div>
        </div>
    </div>
</body>
</html>
