<!DOCTYPE html>
<html>
<head>
    <title>StoryTime</title>
    <script src="javascripts/facebook.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="css/theme.css"></link>
</head>
<body class="backdrop">
    <div class="container-fluid">

        <div class="jumbotron black">
            <h1 class="opaque">StoryTime</h1>
            <p class="opaque">Make your own stories and share them with friends!</p>
            <h3>Login</h3>
            <hr>
            <div class="col-sm-6">
                <button class="btn btn-primary btn-lg" onclick="facebookLogin()">Facebook</button>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-danger btn-lg">Google</button>
            </div>
            <br>
        </div>
    </div>

</body>
</html>
