<!DOCTYPE html>
<html>
<head>
    <title>StoryTime</title>
    <script src="javascripts/facebook.js"></script>
    <script src="javascripts/google.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="520579226727-d0pr5kii12klmqc867c3kolf47kjoj94.apps.googleusercontent.com">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="css/theme.css"></link>
</head>
<body class="backdrop">
    <div class="container-fluid">

        <div class="jumbotron black">
            <h1 class="opaque">StoryTime</h1>
            <p class="opaque">Make your own stories and share them with friends!</p>
            <h3>Login</h3>
            <hr>
            <div class="col-sm-6">
                <!-- <button class="btn btn-primary btn-lg" onclick="facebookLogin()">Facebook</button> -->
                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"></fb:login-button>
                <div id="status"></div>
            </div>
            <div class="col-sm-6">
                <div class="g-signin2" data-onsuccess="onSignIn"></div>
            </div>
            <br>
        </div>
    </div>

</body>
</html>
