.theme{
    background-color: #0275d8;
    color:white;
}

.box{
    border-radius: 5px;
    border: solid 1px #cccccc;
    min-height: 5em;
}

.left-justified{
    text-align: left;
}

.right-justified{
    text-align: right;
}

.separate{
    margin: 4px;
}

.bare{
    margin: 0;
}

.titles{
    font-size: 25px;
    border-radius: 5px;
    width: 100%;
    padding: 4px 0px 0px 4px;
    margin: 10px 3px 3px 3px;
}

.semi-trans{
    background-color: rgba(255,255,255,.6);
}

.backdrop{
    background-color: black;
    background-image: url("../Dragon.png");
    background-repeat: no-repeat;
    height: auto;
}

.opaque{
    opacity: 1;
}

.black{
    background-color: rgba(0,0,0,.6);
    color: white;
}

.tall{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-flow: column;
}
